*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url("bg.jpeg"); */
    /* background-size: cover; */
    height: 100vh;
    overflow: hidden;
    
}
.taskbar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100% ;
    z-index: 110;
    background-color: #f3f3f3 ;
}
.startmenu{
    position: absolute;
    /* bottom: 50px; */
    bottom: -650px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
}
.startmenu img {
    border-radius: 10px;
    height: 600px;
}
.right{
    position: absolute;
    right: 0;
    margin: 4px 0;
    height: 80%;
}